.moviePage-container span, p, h2{
    color: white;
}

.moviePage-container{
    height: 100%;
}

.moviePage-container main{
    height: 85vh; /* 100% de altura */
}

.moviePage-container .movie-info{
    background-image: linear-gradient(to right, rgba(11.76%, 16.08%, 16.47%, 1.00) 150px, rgba(11.76%, 16.08%, 16.47%, 0.84) 100%);
    display: flex;
    padding: 3% 0;
}

.movie-container{
    margin-top: 2%;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
}

.moviePage-container .movie-poster{
    margin: 0 5%;
}

.moviePage-container .movie-poster img{
    width: 350px;
    border-radius: 15px;
}

.moviePage-container .movie-title span{
    font-size: 2.3rem;
    margin-right: 15px;
}

.moviePage-container .movie-description{
    margin-top: 30px;
    max-width: 66ch;
}

/*Margin de la página para tener los margenes alineados a la izquierda*/
.moviePage-container .movie-cast-container, .movie-comments{
    margin: 0 5%;
}

.moviePage-container .movie-cast-container{
    margin-top: 25px;
}

.moviePage-container .movie-cast, .movie-cast-card{
    display: flex;
}

.moviePage-container .movie-cast-card img:hover{
    border: 2px solid var(--yellow-main);
    border-radius: 15px 15px 0 0;
}

.moviePage-container .movie-cast{
    padding: 20px 0;
    margin-bottom: 20px;
    overflow: scroll;
    overflow-y: hidden;
    
}
.moviePage-container .movie-cast::-webkit-scrollbar{
    height: 5px;
    border-radius: 3px;
}


.moviePage-container .movie-cast::-webkit-scrollbar-thumb {
    background-color: var(--yellow-main);
    border-radius: 3px;
    width: 20px;

}

.moviePage-container .movie-cast-card{
    position: relative;
    margin-right: 49px;
    padding: 0px 0px 55px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    
}
.moviePage-container .movie-cast-card img{
    width: 200px;
    border-radius: 15px 15px 0 0;
}

.moviePage-container .movie-cast-card span{
    font-weight: bold;
    position: absolute;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    bottom: 13px;
}

.movie-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-title button{
    border: 1px solid var(--yellow-main);
    padding: 20px;
    margin-right: 18px;
    color: var(--yellow-main);;
    font-weight: bold;
    background-color: var(--black-main);
}

.movie-title button:hover{
    background-color: var(--yellow-main);
    color: var(--black-main);
    transition: 0.3s;
}

.movie-comments {
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
}
.movie-comments .comment p{
    margin: 0;
    padding: 0;
}
.movie-comments .comment{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--yellow-main);

    padding: 20px 0;
}   


.movie-comments label{
    margin-right: 10px;
    color: white;
}
.movie-comments .sendComment{
    padding: 10px;
    text-align: center;
    margin: 15px 0;
    border: 1px solid var(--yellow-main);
    background-color: var(--black-main);
    color: var(--yellow-main);
    transition: 0.3s;
    font-size: 2rem;
    font-weight: bold;
}
.movie-comments .sendComment:hover{
    background-color: var(--yellow-main);
    color: var(--black-main);
}

.movie-comments .error{
    color: #dc3545;
}
/*Margen de la primera línea (usuario + hora)*/
.movie-comments .comment .comment-username span{
    color: var(--yellow-main);
}
.movie-comments .comment .comment-username span:first-of-type{
    margin-left: 15px;
}
.movie-comments .comment .comment-text{
    margin-left: 30px;
}