/* de momento para ver los colores */

.list-container > *{
    color: white;
}

.list-container{
    
    height: 100%;
}
.list-container main {
    padding-top: 10px;
    height: 85vh;
}

.list-container .mylists{
    overflow-y: scroll;
    overflow-y: hidden;
    font-weight: bold;
    padding: 2rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}

.list-container .mylists ul{
    gap: 15px;

}

/* Barra de scroll de las listas */
.mylists::-webkit-scrollbar{
    height: 7px;
    border-radius: 3px;
}


.mylists::-webkit-scrollbar-thumb {
    background-color: var(--yellow-main);
    border-radius: 3px;
    width: 20px;
    
}

.mylists ul form {
    display: flex;

}

form .createList{
    border: 1px solid var(--yellow-main);
    background-color: var(--black-main);
    color: var(--yellow-main);;
    font-weight: bold;
    padding: 10px;   
}

form .createList:hover{
    transition: 0.3s;
    background-color: var(--yellow-main);
    color: var(--black-main);
}

.list-container .mylists ul .listCreate{    
    font-weight: bold;
    color: var(--yellow-main);
    text-decoration: underline;
    font-size: 2.1rem;
}

.list-container .mylists ul{    
    display: flex;
    justify-content: center;
}

.list-container .mylists ul li{ 
    font-size: 1.5rem;
    margin: auto 0;
}

.list-container .mylists ul li:hover{
    cursor: pointer;
    color: var(--yellow-main);
}

.list-container .list-content{
    margin: 2rem 5%;
}

.list-container .movies{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    overflow: scroll;
    overflow-y: hidden;
}

.list-container  .movies::-webkit-scrollbar{
    height: 7px;
    border-radius: 3px;
}


.list-container  .movies::-webkit-scrollbar-thumb {
    background-color: var(--yellow-main);
    border-radius: 3px;
    width: 20px;

}

.list-content .list-title{
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family:  'Antonio', sans-serif;
    letter-spacing: 1px;
}
.list-content .list-edit{
    color: var(--yellow-main);
}