/* de momento para ver los colores */

.list-container > *{
    color: white;
}

.list-container{
    
    height: 100%;
}
.list-container main {
    padding-top: 10px;
    height: 85vh;
}

.list-container .mylists{
    overflow-y: scroll;
    overflow-y: hidden;
    font-weight: bold;
    padding: 2rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}

.list-container .mylists ul{
    gap: 15px;

}

/* Barra de las listas */

.mylists::-webkit-scrollbar{
    height: 7px;
    border-radius: 3px;
}


.mylists::-webkit-scrollbar-thumb {
    background-color: var(--yellow-main);
    border-radius: 3px;
    width: 20px;
    
}

/*  */


.list-container .mylists ul{    
    display: flex;
    justify-content: flex-start;
}

.list-container .mylists ul li{ 
    font-size: 1.5rem;
    margin: auto;
}

.list-container .mylists ul li:hover{
    cursor: pointer;
    color: var(--yellow-main);
}

.list-container .list-content{
    margin: 2rem 5%;
}

.list-container .movies{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    overflow: scroll;
    overflow-y: hidden;
}

.list-container  .movies::-webkit-scrollbar{
    height: 7px;
    border-radius: 3px;
}


.list-container  .movies::-webkit-scrollbar-thumb {
    background-color: var(--yellow-main);
    border-radius: 3px;
    width: 20px;

}