
.navbar-container nav ul{
    font-family:  'Antonio', sans-serif;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1%;
    text-transform: uppercase;
    font-size: 2.3rem;
    background-color: var(--black-main);
    color: white;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 5px 5px white;
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
}
.navbar-container nav ul input text{
    font-size: 1.7rem;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.navbar-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-container nav ul li:last-child{
    color: var(--yellow-main);
}
.navbar-container nav ul li{
    cursor: pointer;
}
li:hover{
    color: var(--yellow-main);
    transition: 0.3s;
}

.navbar-container .logo{
    width: 100px;
}


.navbar-search:hover{
    cursor: text;
}

.navbar-search input{
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    border: 1px solid var(--yellow-main);
    background-color: var(--black-main);
}

.navbar-search input::placeholder{
    padding-left: 20px;
    color: white;
}

.navbar-search input:focus::placeholder{
    color: transparent;
}


@media only screen and (max-width: 412px) {
    .navbar-container nav ul {
      background-color: red;
      font-size: 11px;
    }
    .navbar-container nav ul {
        background-color: red;
        font-size: 11px;
      }
  }