.navbar-container nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1%;
    text-transform: uppercase;
    font-size: 1.7rem;
    background-color: var(--black-main);
    color: white;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 5px 5px white;
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.navbar-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-container nav ul li:last-child{
    color: var(--yellow-main);
}
.navbar-container nav ul li{
    cursor: pointer;
}
li:hover{
    color: var(--yellow-main);
    transition: 0.3s;
}

.navbar-container .logo{
    width: 100px;
}
