
.navbar-container nav ul{
    font-family:  'Antonio', sans-serif;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1%;
    text-transform: uppercase;
    font-size: 2.3rem;
    background-color: var(--black-main);
    color: white;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 5px 5px white;
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16);
}
.navbar-container nav ul input text{
    font-size: 1.7rem;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.navbar-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-container .login{
    color: var(--yellow-main);
}
.navbar-container nav ul li{
    cursor: pointer;
}
li:hover{
    color: var(--yellow-main);
    transition: 0.3s;
}

.navbar-container .logo{
    width: 220px;
}


.navbar-search:hover{
    cursor: text;
}

.navbar-search input{
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    border: 1px solid var(--yellow-main);
    background-color: var(--black-main);
}

.navbar-search input::placeholder{
    padding-left: 20px;
    color: white;
}

.navbar-search input:focus::placeholder{
    color: transparent;
}

.navbar-container .movil-menu, .hamburger-menu{
    display: none;
}

.yellow {
    color: var(--yellow-main);
}
 
.movil-container-menu > *{
    font-size: 2rem;
}
.movil-container-menu li:last-of-type{
    margin-bottom: 200px;
}
/*  Media querys  */ 

@media (min-width: 1025px) and (max-width: 1280px) {

    .navbar-container .filtrar, .login, .myList, .logout{
        display: none;
    }
    .navbar-container .hamburger-menu{
        color: var(--yellow-main);
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar-container input{
        font-size: 1.4rem;
    }
    .movil-menu .movil-container-menu{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-container nav ul {
        font-size: 1rem;
    }
    .navbar-container .movil-menu{
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: var(--black-main); 
        overflow-x: hidden; 
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-container .filtrar, .login, .myList, .logout{
        display: none;
    }
    .navbar-container .hamburger-menu{
        color: var(--yellow-main);
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar-container input{
        font-size: 1.4rem;
    }
    .movil-menu .movil-container-menu{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-container nav ul {
        font-size: 1rem;
    }
    .navbar-container .movil-menu{
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: var(--black-main); 
        overflow-x: hidden; 
    }

}



@media (min-width: 481px) and (max-width: 767px) {
    .navbar-container .filtrar, .login, .myList, .logout{
        display: none;
    }
    .navbar-container .hamburger-menu{
        color: var(--yellow-main);
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar-container input{
        font-size: 1.4rem;
    }
    .movil-menu .movil-container-menu{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-container nav ul {
        font-size: 1rem;
    }
    .navbar-container .logo{
        width: 180px;
    }
    .navbar-container .movil-menu{
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: var(--black-main); 
        overflow-x: hidden; 
    }


}

@media (max-width: 480px) {
    .navbar-container .filtrar, .login, .myList, .logout{
        display: none;
    }
    .navbar-container .hamburger-menu{
        color: var(--yellow-main);
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar-container input{
        font-size: 1.4rem;
    }
    .movil-menu .movil-container-menu{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-container nav ul {
        font-size: 1rem;
    }
    .navbar-container .logo{
        width: 80px;
    }
    .navbar-container .movil-menu{
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: var(--black-main); 
        overflow-x: hidden; 
    }


}