.home-movie-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    gap: 12px;
    color: #fff;
}
.home-container main{
    background-color: var(--black-main);
}

.movie{
    position: relative;
}
.movie .movie-title, .movie-overview{ /* Está display none porque me daba problemas de margen al usar visibility: hidden*/
    display: none;

}
.movie:hover{
    cursor: pointer;
}

.movie:hover .movie-title{
    display: block;
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    top: 10%;
    left: 15px;
    text-align: center;
    display: flex;
    width: 90%;
    transition: all 0.2s linear;
}
.movie:hover .movie-overview{
    left: 15px;
    display: block;
    position: absolute;
    top: 30%;
    display: flex;
    width: 80%;
    height: 49%;
    overflow: hidden;
    transition: all 0.2s linear;
}

.home-movie-card{
    display: flex;
}
.home-movie-card .movie{
    border-radius: 15px;
    display: inline-block;
    transition: all 0.2s linear;

}
.movie:hover img{
    opacity: 0.125;
    transition: all 0.2s linear;
}
.home-movie-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
}

.home-movie-card span{
    width: 100%;    
    position: absolute;
}

.home-page-button{
    margin: auto;
    display: flex;
    justify-content: center;
}

.home-page-button button{
    border: none;
    border: 1px solid var(--yellow-main);
    background-color: var(--black-main);
    color: var(--yellow-main);
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.home-page-button button:hover{
    transition: 0.3s ease-in;
    background-color: var(--yellow-main);
    color: black;
}