:root{
  --black-main: #181B1D;
  --yellow-main: #F9BC50; 
}

body,html, .app-container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  background-color: var(--black-main  );
}

ul{
  margin: 0;
}

li{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
